[Unit]
Description=DAQNavi4 Device Monitor Daemon

[Service]
Type=simple
ExecStart=/opt/advantech/daqnavi_daemon/daqnavi_daemon
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
